/* common  */

body {
  margin: 0;
  background-color: #fff5fd;
}

.title-red {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  color: #b91646;
}

.title-blue {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  color: darkblue;
}

.border {
  border: 1px dotted gray;
  width: 600px;
}

.img-current {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 10%;
}

.temp {
  color: gray;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

.home {
  font-size: 1rem;
  color: black;
  background-color: #ecf87f;
  text-decoration: none;
  padding: 10px 32px;
  border: none;
  cursor: pointer;
}

/* header & title */
#header {
  position: sticky;
  top: 0;
  line-height: 4rem;
  display: flex;
  justify-content: center;
  background-color: #bf1363;
}

#header-link__wrapper {
  display: flex;
}

.header-link__container {
  margin: 0 5%;
}

#header-link-container__left {
  margin-left: 15%;
}

.header-link {
  color: lemonchiffon;
  text-decoration: none;
  font-size: 1.5rem;
}

#city-name {
  font-size: 3rem;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  color: white;
}

#city-background {
  width: 80%;
  height: 200px;
  margin-top: 30px;
  border-radius: 15px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* daily weather */
.date {
  color: blue;
  font-family: Arial, Helvetica, sans-serif;
  padding: 0 1rem 0 0;
  margin: 10px 0 10px 0;
}

.daily-temp {
  color: gray;
  font-family: Arial, Helvetica, sans-serif;
  margin: 10px 0 10px 0;
}

.daily-description {
  color: darkblue;
  font-family: Arial, Helvetica, sans-serif;
  padding: 0 0 0 2rem;
  margin: 10px 0 10px 0;
}

.daily-element__container {
  display: flex;
  justify-content: center;
}

.daily-element__wrapper {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.daily-element-center {
  display: flex;
  justify-content: start;
}

/* hourly weather */
.hour {
  color: blue;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
  padding: 0 1rem 0 0;
  margin: 5px 0 5px 0;
}

.hourly-temp {
  color: gray;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
  margin: 5px 0 5px 0;
}

.hourly-description {
  color: darkblue;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
  padding: 0 0 0 2rem;
  margin: 5px 0 5px 0;
}

.hourly-element__container {
  display: flex;
  justify-content: center;
}

.hourly-element__wrapper {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.hourly-element-center {
  display: flex;
  justify-content: center;
}
